/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #BAD6EB;
    font-family: 'Orbitron', sans-serif;
    color: #fff;
    min-height: 100vh;
}

/* Contact Section */
.contact-box {
    margin: 50px auto;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    border: 2px solid #1500ff;
    max-width: 600px;
    text-align: center;
}

.contact-box h1 {
    margin-bottom: 20px;
}

.contact-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-details a {
    color: #ffffff;
    font-size: 1.5rem;
    margin: 10px 0;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
}

.contact-details a:hover {
    color: #00184c;
    transform: scale(1.1);
}

.contact-details i {
    margin-right: 10px;
    color: #00184c;
    font-size: 2rem;
    transition: transform 0.3s ease, color 0.3s ease;
}

.contact-details a:hover i {
    color: #ff00ff;
    transform: scale(1.1);
}

/* Neon Text */
.neon-text {
    color: #003151;
    text-shadow: 0 0 4px #b3e6ff, 0 0 8px #005fcc, 0 0 12px #fffefe;
    font-size: 2rem;
    font-weight: 600;
    transition: transform 0.2s ease-in-out, text-shadow 0.2s ease-in-out;
}

.neon-text:hover {
    transform: scale(1.05);
    text-shadow: 0 0 6px #7a7cd5, 0 0 12px #013bcd, 0 0 18px #000000;
}

/* Section Animation */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

section {
    padding: 40px;
    text-align: center;
    margin: 30px 15px;
    border-radius: 10px;
    background-color: #4e6c9a;
    border: 2px solid #0a0073;
    animation: fadeInUp 1s ease-in-out;
}

/* Header Navigation */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 15px 0;
    z-index: 1000;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #081F5C;
    text-decoration: none;
    text-shadow: 0 0 5px #14019ecc;
    font-size: 1.1rem;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
    color: #00098985;
    transform: scale(1.2);
}

/* Intro Section */
.intro-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 50px;
    text-align: center;
}

.intro-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 253, 253, 0.947);
    padding: 40px;
    border-radius: 10px;
    border: 2px solid #fdfdfd;
    max-width: 900px;
    width: 90%;
    flex-wrap: wrap;
}

.intro-text h1 {
    font-size: 2.5rem;
    color: #130052;
}

.intro-text h2 {
    font-size: 1.5rem;
    color: #030044;
    margin-bottom: 20px;
}

.about-me {
    font-size: 1.2rem;
    color: #060202;
}

.intro-pic {
    flex-shrink: 0;
    width: 35%;
}

.intro-pic img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 2px solid #ffffff;
}

/* Hobby Icons */
.hobby-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

.hobby {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    text-align: center;
    transition: transform 0.3s ease;
}

.hobby i {
    font-size: 4rem;
    color: #081F5C;
    transition: transform 0.3s ease, color 0.3s ease;
}

.hobby:hover {
    transform: scale(1.1);
}

.hobby:hover i {
    color: #c7e8fa;
    transform: translateY(-10px);
}

.hobby p {
    margin-top: 10px;
    color: #fff;
    font-size: 1.2rem;
    transition: transform 0.3s ease;
}

.hobby:hover p {
    transform: translateY(-5px);
}

/* Skills Section */
.content-section {
    margin-top: 50px;
    padding: 30px;
    background-color: #4e6c9a;
    border: 2px solid #0a0073;
    border-radius: 10px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.skills-list li {
    text-align: center;
    font-size: 1.5rem;
    margin: 15px 0;
    color: #ffffff;
    text-shadow: 0 0 10px #fffeff;
    transition: transform 0.3s ease, color 0.3s ease;
}

.skills-list li:hover {
    color: #ffffff;
    transform: scale(1.1);
}

/* Certifications */
.certification-card {
    background-color: #4e6c9a;
    padding: 25px;
    margin: 30px auto;
    border-radius: 10px;
    border: 2px solid #0a0073;
    max-width: 600px;
    width: 100%;
    color: #fff;
    text-align: left;
}

.certification-card h2 {
    color: #002444;
    margin-bottom: 15px;
}

.certification-card p {
    margin: 10px 0;
    font-size: 1.1rem;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.modal.show {
    opacity: 1;
}

.modal-content {
    background-color: rgba(0, 0, 0, 0.9);
    margin: 15% auto;
    padding: 20px;
    border: 2px solid #ff00ff;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    color: #d9b3ff;
    text-align: center;
}

/* Achievement */
.achievement-list {
    margin-top: 20px;
}

.achievement {
    border-bottom: 1px solid #08f7fe;
    padding: 10px 0;
}

.achievement-title {
    font-size: 1.5em;
    color: #a59e13;
}

.achievement-date {
    font-size: 0.9em;
    color: #08f7fe;
}

.achievement-description {
    font-size: 1em;
    color: #ffffff;
    line-height: 1.4;
}

/* Container */
.container {
    width: 100%;
    max-width: 800px;
    text-align: center;
    background: rgba(22, 19, 32, 0.9);
    padding: 20px;
    border: 2px solid #08f7fe;
    box-shadow: 0 0 20px #00ffcb;
    border-radius: 10px;
}

.image-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 15px;
}

.image-container img {
    width: 45%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px #08f7fe;
}

.highlight {
    color: #d9ff00;
    font-weight: bold;
    text-shadow: 0 0 5px #d6d64b, 0 0 10px #d6d64b;
    font-style: italic;
}

/* Responsive */
@media (max-width: 770px) {
    .intro-box {
        flex-direction: column;
        padding: 20px;
    }

    .intro-pic {
        width: 80%;
        margin-bottom: 20px;
    }

    .intro-text h1 {
        font-size: 1.8rem;
    }

    .intro-text h2 {
        font-size: 1.2rem;
    }

    .about-me {
        font-size: 1rem;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }

    .modal-content {
        width: 90%;
    }

    .side-menu {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        height: 100%;
        background-color: #fff;
        border-right: 2px solid #081F5C;
        z-index: 1001;
        padding: 20px;
        box-shadow: 2px 0 5px #fff;
    }

    .side-menu.active {
        display: block;
    }

    .side-menu li {
        margin: 15px 0;
    }

    .side-menu a {
        color: #081F5C;
        font-size: 1.2rem;
        text-decoration: none;
    }

    .side-menu a:hover {
        color: #221c9b;
    }

    .toggle-button {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bar {
        width: 25px;
        height: 3px;
        background-color: #220242;
        margin: 4px;
        transition: all 0.3s ease;
    }

    .toggle-button.active .bar:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .toggle-button.active .bar:nth-child(2) {
        opacity: 0;
    }

    .toggle-button.active .bar:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }
}
